<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    พันธมิตรย่อย
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full lg:w-3/4">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อ</mat-label>
                                <input matInput [formControlName]="'name'" type="text" placeholder="กรุณากรอกชื่อ">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เบอร์ติตต่อ</mat-label>
                                <input matInput [formControlName]="'phone'" type="text" placeholder="กรุณากรอกเบอร์โทร">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">อีเมล</mat-label>
                                <input matInput [formControlName]="'email'" type="email" placeholder="กรุณากรอกอีเมล">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียด</mat-label>
                                <textarea matInput rows="4" [formControlName]="'detail'"
                                    placeholder="กรุณาระบุรายละเอียด"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อเว็บไซต์</mat-label>
                                <input matInput [formControlName]="'url'" type="text" placeholder="กรอกชื่อเว็บไซต์">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <ngx-dropzone style="width: 100%; height: 250px; justify-content: center;"
                                (change)="onSelect($event)">
                                <ngx-dropzone-label>ขนาดรูป 200*200</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f"
                                    (removed)="onRemove(f)">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>

            </div>

            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="sponsor/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </a>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="New()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        ยืนยัน
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto overflow-hidden">
            <!-- Products list -->
            <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
                <!-- Products list -->
                <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto ">
                    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
                        <thead>
                            <tr>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ชื่อ</th>
                                <th>รายละเอียด</th>
                                <th>สถานะ</th>
                                <th>รูปภาพ</th>
                                <th>สร้างโดย</th>
                                <th>วันที่สร้าง</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>


                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 5%;">{{ pages.begin + (i + 1) }}</td>
                                <td style="width: 25%;">{{ item.name }}</td>
                                <td style="width: 25%;">{{ item.detail}}</td>
                                <td>
                                    <div *ngIf="item.status === 1">
                                        <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">
                                            <span class="leading-relaxed whitespace-nowrap">
                                                เปิดการใช้งาน
                                            </span>
                                        </span>
                                    </div>
                                    <div *ngIf="item.status != 1">
                                        <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50">
                                            <span class="leading-relaxed whitespace-nowrap">
                                                ปิดการใช้งาน
                                            </span>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button mat-button (click)="showPicture(item.image)">
                                        <mat-icon>image</mat-icon>
                                    </button>
                                </td>
                                <td>{{ item.create_by }}</td>
                                <td>{{ item.created_at }}</td>
                                <td style="width: 15%;">
                                    <!-- <button mat-button (click)="edit(item.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button> -->
                                    <button mat-button (click)="Delete(item.id)">
                                        <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="9" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>