<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    ช่องทางติดต่อและเงื่อนไข
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full lg:w-4/4">
                    <div class="flex flex-auto flex-wrap">




                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เงื่อนไขอสังหา</mat-label>
                                <textarea matInput [formControlName]="'condition_asset'" placeholder="กรุณาระบุเงื่อนไขอสังหา"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะการยินยอมเงื่อนไขอสังหา</mat-label>
                                <input matInput [formControlName]="'text_check_condition_asset'" placeholder="สถานะการยินยอมเงื่อนไขอสังหา">
                            </mat-form-field>
                        </div>



                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เงื่อนไขความต้องการ</mat-label>
                                <textarea matInput [formControlName]="'condition_inquiry'" placeholder="กรุณาระบุเงื่อนไขความต้องการ"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะการยินยอมเงื่อนไขความต้องการ</mat-label>
                                <input matInput [formControlName]="'text_check_share_condition_asset'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>


                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เงื่อนไขการแชร์ข้อมูลอสังหา</mat-label>
                                <textarea matInput [formControlName]="'share_condition_asset'" placeholder="กรุณาระบุเงื่อนไขส่วนแบ่งอสังหา"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะการยินยอมแชร์ข้อมูลอสังหา</mat-label>
                                <input matInput [formControlName]="'text_check_condition_inquiry'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เงื่อนไขการแชร์ข้อมูลความต้องการ</mat-label>
                                <textarea matInput [formControlName]="'share_condition_inquiry'" placeholder="กรุณาระบุเงื่อนไขส่วนแบ่งความต้องการ"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะการยินยอมแชร์ข้อมูลความต้องการ</mat-label>
                                <input matInput [formControlName]="'text_check_share_condition_inquiry'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เงื่อนไขการสมัครเข้าใช้งานระบบ</mat-label>
                                <textarea matInput [formControlName]="'condition_app'" placeholder="กรุณาระบุเงื่อนไขระบบ"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะการยินยอมสมัครเข้าใช้งานระบบ</mat-label>
                                <input matInput [formControlName]="'text_check_condition_app'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>

      
                        <div class="flex flex-col w-full lg:w-6/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ที่อยู่</mat-label>
                                <textarea matInput [formControlName]="'address'" placeholder="กรุณาระบุที่อยู่"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ละติจูด</mat-label>
                                <input matInput [formControlName]="'lat'" placeholder="กรุณาระบุละติจูด">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ลองติจูด</mat-label>
                                <input matInput [formControlName]="'long'" placeholder="กรุณาระบุลองติจูด">
                            </mat-form-field>
                        </div>
                        <div class="flex items-center justify-end w-full border-t px-8 py-4 mt-5"></div>
                        <!-- <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ยูสเซอร์เนม</mat-label>
                                <input matInput [formControlName]="'username'" placeholder="กรุณาระบุยูสเซอร์เนม">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">พาสเวิร์ด</mat-label>
                                <input matInput [formControlName]="'password'" placeholder="กรุณาระบุพาสเวิร์ด">
                            </mat-form-field>
                        </div> -->
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">อีเมล1</mat-label>
                                <input matInput [formControlName]="'email1'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">อีเมล2</mat-label>
                                <input matInput [formControlName]="'email2'" placeholder="กรุณาระบุอีเมล">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เบอร์โทร1</mat-label>
                                <input matInput [formControlName]="'tel1'" placeholder="กรุณาระบุเบอร์โทร1">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-3/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เบอร์โทร2</mat-label>
                                <input matInput [formControlName]="'tel2'" placeholder="กรุณาระบุเบอร์โทร2">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Line</mat-label>
                                <input matInput [formControlName]="'line'" placeholder="กรุณาระบุชื่อไอดีไลน์">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Facebook</mat-label>
                                <input matInput [formControlName]="'facebook'" placeholder="กรุณาระบุชื่อเฟสบุ๊ค">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Instagram</mat-label>
                                <input matInput [formControlName]="'ig'" placeholder="กรุณาระบุชื่อเฟสบุ๊ค">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">URL_Line</mat-label>
                                <input matInput [formControlName]="'line_oa_url'" placeholder="กรุณาระบุURL ไลน์">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">URL_Facebook</mat-label>
                                <input matInput [formControlName]="'facebook_url'" placeholder="กรุณาระบุURL เฟสบุ๊ค">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">URL_Instagram</mat-label>
                                <input matInput [formControlName]="'ig_url'" placeholder="กรุณาระบุURL อินสตาร์แกรม">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Twitter</mat-label>
                                <input matInput [formControlName]="'twitter'" placeholder="กรุณาระบุชื่อทวิตเตอร์">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Youtube</mat-label>
                                <input matInput [formControlName]="'youtube'" placeholder="กรุณาระบุชื่อยูทูป">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Tiktok</mat-label>
                                <input matInput [formControlName]="'tiktok'" placeholder="กรุณาระบุชื่อติ๊กต็อก">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">URL_Twitter</mat-label>
                                <input matInput [formControlName]="'twitter_url'" placeholder="กรุณาระบุURL ทวิตเตอร์">
                            </mat-form-field>
                        </div>  
                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">URL_Youtube</mat-label>
                                <input matInput [formControlName]="'url_youtube_channel'" placeholder="กรุณาระบุURL ยูทูป">
                            </mat-form-field>
                        </div>  
              
                        <div class="flex items-center justify-end w-full border-t px-8 py-4 mt-5"></div>

                        <div class="flex flex-col w-full lg:w-6/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เกี่ยวกับเรา</mat-label>
                                <textarea matInput [formControlName]="'about_us'" placeholder="กรุณาระบุที่อยู่"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-6/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">สถานะ</mat-label>
                                <textarea matInput [formControlName]="'shot_desception_web'" placeholder="กรุณาระบุที่อยู่"
                                    rows="4"></textarea>
                            </mat-form-field>
                        </div>





                        
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <!-- <a class="ml-4" mat-flat-button href="member/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </a> -->
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        ยืนยัน
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>