<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    เพิ่มคอร์ส
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full lg:w-4/4">
                    <div class="flex flex-auto flex-wrap">
                        <!-- <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ประเภทคอร์ส</mat-label>
                                <input matInput [formControlName]="'course_name'" placeholder="กรุณาระบุชื่อ" readonly>
                            </mat-form-field>
                        </div> -->

                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อบทเรียน</mat-label>
                                <input matInput [formControlName]="'title'" placeholder="ชื่อบทเรียน">
                            </mat-form-field>
                        </div>
                        <!-- <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อบทเรียน</mat-label>
                                <mat-select [formControlName]="'course_id'">
                                    <mat-option [value]="''">
                                        <span class="text-gray-400">เลือกประเภทคอร์ส</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of AddType" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->

          

                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียด</mat-label>
                                <textarea matInput rows="4" [formControlName]="'detail'"
                                    placeholder="กรุณาระบุรายละเอียด"></textarea>
                            </mat-form-field>
                        </div>



                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8 mt-5">
                            <mat-label class="font-bold">video</mat-label>
                            <input class=" w-full text-lg border rounded-lg cursor-pointer mb-4" id="video" type="file"
                                (change)="videoChange($event)">
                        </div>



                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชั่วโมง</mat-label>
                                <input matInput [formControlName]="'hour'" placeholder="กรุณาระบุชื่อ">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">นาที</mat-label>
                                <input matInput [formControlName]="'min'" placeholder="กรุณาระบุชื่อ">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">วินาที</mat-label>
                                <input matInput [formControlName]="'sec'" placeholder="กรุณาระบุชื่อ">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="course-lesson/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </a>
                    <!-- <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="createCoupon()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        ยืนยัน
                    </button> -->
                </div>
            </div>
        </form>

    </div>
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto overflow-hidden">
            <!-- Products list -->
            <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
                <!-- Products list -->
                <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto ">
                    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <!-- <th>ประเภทคอร์ส</th> -->
                                <th>ชื่อบทเรียน</th>
                                <th>รายละเอียด</th>
                                <th>วีดีโอ</th>
                                <th>เวลา</th>
                                <th>สถานะ</th>
                                <th>สร้างโดย</th>
                                <th>วันที่สร้าง</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 5%;">{{ pages.begin + (i + 1) }}</td>
                                <!-- <td>{{ item.course.title }}</td> -->
                                <td>{{ item.title }}</td>
                                <td>{{ item.detail }}</td>
                                <td>
                                    <a  mat-raised-button href="{{item.video}}" target="_blank">
                                        <mat-icon svgIcon="mat_outline:videocam"></mat-icon>
                                    </a>
                                </td>
                                <td>{{ item.hour }} ชั่วโมง {{ item.min }} นาที</td>
                                <td>
                                    <span class="bg-green-100 text-green-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900" *ngIf="item.status === 1"> อนุมัติแล้ว</span>
                                    <span class="bg-red-100 text-red-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900" *ngIf="item.status === 0"> ไม่อนุมัติ</span>
                                    <span class="bg-yellow-100 text-yellow-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900" *ngIf="item.status === ''"> รอการอนุมัติ</span>
                                </td>
                                <td style="width: 5%;">{{ item.create_by }}</td>
                                <td>{{ item.created_at }}</td>
                                <td style="width: 15%;">
                                    <button mat-button (click)="edit(item.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-button (click)="DeleteCourse(item.id)">
                                        <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="9" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>